{% extends 'index.html.twig' %}

{% block title %}
	Anasayfa
{% endblock %}

{% block page %}
	<div class="page" {{ stimulus_controller('dormitory') }}>
		<div class="page-header">
			Yurt Yönetimi
		</div>
		<div class="page-body"></div>
	</div>
{% endblock %}
